{
    "env": {
        "development": {
            "presets": [
                "next/babel"
            ]
        },
        "production": {
            "presets": [
                "next/babel"
            ]
        },
        "test": {
            "presets": [
                [
                    "next/babel",
                    {
                        "preset-env": {
                            "modules": "commonjs"
                        }
                    }
                ]
            ],
            "plugins": [
                [
                    "module-name-mapper",
                    {
                        "moduleNameMapper": {
                            "\\.css$": "<rootDir>/src/helpers/style-mock.js"
                        }
                    }
                ]
            ]
        }
    }
}